---
interface Props {
	h2: string;
	p: string;
	li: {
		h3: string;
		p: string;
		icon: string;
	}[];
}

const block = Astro.props;
---

<section class="">
	<div class="mx-auto max-w-screen-xl px-4 py-8 sm:py-16 lg:px-6">
		<div
			class="mx-auto mb-8 flex max-w-screen-md flex-col items-center justify-center text-center lg:mb-16"
		>
			<h2 class="mb-4">{block.h2}</h2>
			<p class="">
				{block.p}
			</p>
		</div>
		<div
			class="space-y-8 md:grid md:grid-cols-2 md:gap-12 md:space-y-0 lg:grid-cols-3"
		>
			{
				block.li.map((li) => (
					<div class="text-center flex flex-col items-center max-w-[400px] mx-auto">
						<div class="mb-4 flex h-10 w-10 items-center justify-center  text-center rounded-full bg-primary-100 dark:bg-primary-900 lg:h-12 lg:w-12">
							<svg
								class="h-5 w-5 text-primary-600 dark:text-primary-300 lg:h-6 lg:w-6"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									fill-rule="evenodd"
									d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z"
									clip-rule="evenodd"
								/>
							</svg>
						</div>
						<h3 class="mb-2">{li.h3}</h3>
						<p class="">
							{li.p}
						</p>
					</div>
				))
			}
		</div>
	</div>
</section>
